/* Global elements */
body, html {
	height: 100%;
}
body {
	font-family: arial,Helvetica,sans-serif;
	font-size: 15px;
	/*background: url('../images/bodyBg.jpg');*/
}
h1 {
	display: inline-block;
	margin-bottom: 15px;
}
h2, h3, h4 {
	font-weight: bold;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 17px;
	margin-bottom: 10px;
}
h4 {
	margin-bottom: 10px;
}
a {
	text-decoration: none;
	/*color: #293997;*/
}
p {
	margin-bottom: 10px;
	line-height: 1.4;
}

/* Forms */
input, textarea, select { 
	padding: 9px;
	border: solid 1px #C9C9C9;
	outline: 0;
	background: #FFFFFF url('bg_form.png') left top repeat-x;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
}
button {
	padding: 8px 10px;
	background: #a5a4a4;
	color: #fff;
	border: solid 1px #808282;
	font-weight: bold;
}
.removeBtn {
	padding: 3px;
	margin-right: 7px;
}

textarea { 
	line-height: 150%;
	}
	form dl dt {
		margin-bottom: 5px;
	}
	form dl dd {
		margin-bottom: 15px;
	}
/* Header */
#header {
		padding-top: 30px;
	}
		#loginForm {
			float: right;
		}
			#loginForm input {
				margin: 25px 10px 0 0;
			}

		#mainMenu {
			clear: both;
		}
			#mainMenu {
				background-color: #464646;
				/*background-color: #a52d2d;*/
				padding-left: 10px;
				margin-bottom: 15px;
			}
				#mainMenu li {
					display: inline-block;
				}
				#mainMenu li a {
					display: block;
					color: #fff;
					padding: 10px;
				}
	
#container {
	width: 960px;
	margin: 0 auto 30px;
}
	#main {
		background-color: #fff;
		overflow: hidden;
		padding: 20px;
		border: 1px solid #ccc;
	}
		#sidebar {
			width: 328px;
			float: left;
		}
			#sidebar h2 {
				margin-bottom: 5px;
			}
			#sidebar ul {
				margin: 0 20px 30px 0;
			}
				#sidebar ul li {
					border-bottom: 1px dotted #ccc;
				}
					#sidebar ul li a {
						padding: 10px 0;
						display: block;
						font-weight: bold;
						color: #464646;
					}
		#content {
			width: 590px;
			float: right;
		}
			#content h2 {
				margin-bottom: 15px;
			}
			#content dl,
			#content ul {
				margin-bottom: 20px;
			}
				#content li {
					margin-bottom: 10px;
				}
			.contentMenu a {
				font-weight: bold;
			}

/* Recipes */
.recipeInfo {
}
	.recipeInfo dt,
	.recipeInfo dd {
		display: inline-block;
	}
	.recipeInfo dt {
		margin-right: 5px;
		font-weight: bold;
	}
	.recipeInfo dd {
		margin-right: 20px;
	}
.recipeDescription {
	margin-top: 15px;
}
#recInfoWrapper {
	margin-bottom: 15px;
}
.ingredientsWrapper {
	margin-bottom: 20px;
}

.error {
	border: 1px solid red;
}
.errors {
	color: #ff0000;
	font-weight: bold;
}
.hidden {
	display: none;
}

#addIngForm {
	
}
	#addIngForm ul li {
		display: inline-block;
		margin-right: 15px;
	}
	#addIngForm label {
		display: block;
		margin-bottom: 5px;
	}
#searchResult {
	margin-top: 30px;
}
	#searchResult ul li {
		margin-bottom: 20px;
	}
	#searchResult .category {
		margin-right: 10px;
		font-weight: bold;
	}
/* Dialogs */
.dialogBg {
	background-color: #000;
	opacity: 0.5;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
.dialog {
	width: 250px;
	margin-left: -125px;
	position: fixed;
	left: 50%;
	top: 100px;
	padding: 20px;
	background-color: #fff;
	box-shadow:0px 0px 20px #000
}
	.dialog input, 
	.dialog textarea {
		width: 230px;
	}