/* Global elements */
body, html {
	height: 100%;
}
body {
	background: #ccc;
	font-family: arial,Helvetica,sans-serif;
}
h1 {
	float: left;
}
a {
	text-decoration: none;
}



#container {
	width: 960px;
	margin: 0 auto;
	background-color: #fff;
	overflow: hidden;
}
#header {
	overflow: hidden;
}
	.headerContentWrapper{
		float: right;
	}
		#loginForm {
			clear: both;
		}
	#mainMenu {
		float: right;
	}
		#mainMenu li {
			display: inline-block;
		}


#sidebar {
	width: 350px;
	float: left;
}
#content {
	width: 610px;
	float: right;
}
.error {
	border: 1px solid red;
}
.hidden {
	display: none;
}

/* Dialogs */
.dialogBg {
	background-color: #000;
	opacity: 0.5;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
.dialog {
	position: fixed;
	left: 50%;
	top: 100px;
	padding: 10px;
	background-color: #fff;
}